.button{
height:25px;
width:25px;
border:1px solid black;
border-radius:500%;
color: white;
background-color:rgb(11, 55, 122);
// margin-left: 08px;
margin-right:20px;
}

.button1{
    height:25px;
    width:25px;
    border:1px solid black;
    border-radius:500%;
    color: white;
    background-color:rgb(11, 55, 122);
    margin-left: 20px;
}

.text-danger :hover
{
    text-decoration: underline;
}
    
