.card_body:hover{
	background-color:#13526e !important;
	color:white;
	margin-top:-10px;
	margin-bottom:-10px;
}

.card-body
{
	margin-left:100px;
	// width:20%;
}

// .col-md-6{
// 	width:20%;
// 	height:200px !important;
// }