/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#webloder
{
    width:100vw;
    height:100vh;
    position:fixed;
    left:0px;
    top:0px;
    z-index:99999;
    background-color:white;
    font-size:25px;
    text-align:center;
    padding:25%;
}